/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

/* CSS Variables */
:root {
    /* fonts */
    --primary-font: "Geo", sans-serif;
    --secondary-font: sans-serif;
    /* font color */
    --primary-color: #f9f5ef; /* white */
    --secondary-color: #8a8fc4; /* blue-light */
    --highlight-color: #d88038; /* orange */
    --highlight-color-light: #e3d245; /* yellow */

    /* background color */
    --background-color: #f9f5ef; /* white (change to black) */
    
    /* game elements */
    /* brick color */
    --brick-a: #a13d3b; /* red */
    --brick-b: #6c8c50; /* green */
    --brick-c: #8a8fc4; /* blue-light */
    /* ball color */
    --ball: #e3d245; /* yellow */
    /* paddle color */
    --paddle: #9a407e /* violet */

    
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

.brick {
    background: var(--brick-a);
}

.ball {
    background: var(--ball);
}

.paddle {
    background: var(--paddle);
}