/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

/* CSS Variables */
:root {
  /* fonts */
  --primary-font: "Geo", sans-serif;
  --secondary-font: sans-serif;
  /* font color */
  --primary-color: #f9f5ef;
  /* white */
  --secondary-color: #8a8fc4;
  /* blue-light */
  --highlight-color: #d88038;
  /* orange */
  --highlight-color-light: #e3d245;
  /* yellow */

  /* background color */
  --background-color: #040303;
  /* black */

  /* game elements */
  /* brick color */
  --brick-red: #a13d3b;
  /* red */
  --brick-green: #6c8c50;
  /* green */
  --brick-blue-light: #8a8fc4;
  /* blue-light */
  --brick-yellow: #e3d245;
  /* yellow */

  /* ball color */
  --ball: #a13d3b;
  /* red */
  /* paddle color */
  --paddle: #9a407e
    /* violet */
}

/* styles.css */
body {
  font-family: "Geo", sans-serif;
  background-color: #222;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.modal-content {
  background-color: #222;
  color: white;
}

/* High Scores Modal */
#highScoresModal .modal-body {
  text-align: center;
}

#highScoresList {
  margin-top: 20px;
}

h1 {
  text-transform: uppercase;
}

/* Ensure the game container and viewport take up a consistent percentage of the screen */
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#game-viewport {
  position: relative;
  width: 90%;
  height: 80%;
  background-color: var(--background-color);
  border: 2px solid white;
  overflow: hidden;
}

/* Ensure the paddle and ball scale proportionally */
#paddle {
  position: absolute;
  bottom: 10px;
  width: 10%;
  height: 2%;
  background-color: white;
}

#ball {
  position: absolute;
  width: 1%;
  height: 1%;
  background-color: var(--ball);
  border-radius: 50%;
}

/* Ensure bricks scale proportionally */
.brick {
  width: 10%;
  height: 5%;
  margin: 0.5%;
}

/* HUD messages */
.tap-to-begin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10vw;
  text-align: center;
  display: none;
  /* Hide by default */
}

.lives-remaining {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  display: none;
  /* Hide by default */
}

/* game elements */
#paddle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 20vw;
  height: 10px;
  background-color: white;
  /* transform: translateX(-50%); taken out */
}

#ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--ball);
  border-radius: 50%;
}

#bricks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.destroyed {
  display: none;
}

.placeholder {
  width: 50px;
  /* Match brick width */
  height: 20px;
  /* Match brick height */
  background-color: transparent;
  /* Make it invisible */
  border: none;
  /* Optional: Remove any default borders */
}

.power-up-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 0, 242);
  font-size: 4em;
  text-align: center;
  display: none;
  /* Hide by default */
}

.red-brick {
  background-color: var(--brick-red);
}

.blue-brick {
  background-color: var(--brick-blue-light);
}

.green-brick {
  background-color: var(--brick-green);
}

.yellow-brick {
  background-color: var(--brick-yellow);
}

.power-up-brick {
  background-color: purple;
  /* Different color for power-up bricks */
}

.hit {
  visibility: hidden;
}

#info {
  margin-top: 10px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Space between buttons */
  margin-bottom: 20px;
  /* Space below the buttons */
}

.header-container {
  display: flex;
  justify-content: center;
  /* Center the header */
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--background-color);
  position: relative;
  /* Ensure the navbar-toggler is positioned relative to the header */
}

.header-container h1 {
  margin: 0;
  color: var(--primary-color);
}

.navbar {
  margin: 0;
  position: absolute;
  /* Position the navbar absolutely within the header */
  top: 0;
  right: 10px;
  /* Adjust the right margin to position the button */
  z-index: 1000;
  background-color: black;
  /* Set background color to black */
  padding: 0;
  /* Remove padding */
}

.navbar-toggler {
  margin-left: 10px;
  padding: 5px 10px;
  /* Adjust padding to make the button smaller */
  /* Make sure is closed by default*/

}

.navbar-collapse {
  position: absolute;
  top: 50px;
  /* Adjust this value to position the menu below the header */
  left: 0;
  width: 100%;
  background-color: black;
  /* Set background color to black */
  z-index: 999;
  /* Ensure it is above other elements */

}

/* touch devices CSS override */
/* Hide the start button on touch devices */
@media (pointer: coarse) {
  #start-game {
    display: none;
  }
}

/* general media rules */
/* Hide burger menu on larger devices */
@media (min-width: 883px) {
  .navbar {
    display: none;
  }
}

/* Show the "tap to begin" message on touch devices */
@media (pointer: coarse) {
  .tap-to-begin {
    display: block;
  }

  .button-container {
    display: none;
  }
}

@media (max-width: 768px) {
  #game-viewport {
    width: 100%;
    height: 80%;
  }

  body,
  html {
    overflow: hidden;
    height: 100%;
  }

  #game-container {
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Prevent scrolling within the game container */
  }

  #paddle {
    width: 15%;
  }

  .brick {
    width: 12%;
    height: 6%;
  }

  .button-container {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-collapse {
    top: 40px;
    /* Adjust this value to position the menu below the header */
    display: none;
    /* Hide the menu by default */
  }

  .header-container {
    justify-content: center;
    /* Center the header on smaller devices */
  }
}

/* Landscape orientation for smaller devices */
@media (max-width: 768px) and (orientation: landscape) {
  #game-viewport {
    width: 100%;
    height: 90%;
  }

  body,
  html {
    overflow: hidden;
    height: 100%;
  }

  #game-container {
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Prevent scrolling within the game container */
  }

  #paddle {
    width: 12%;
  }

  .brick {
    width: 10%;
    height: 5%;
  }

  .button-container {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-collapse {
    top: 40px;
    /* Adjust this value to position the menu below the header */
    display: none;
    /* Hide the menu by default */
  }

  .header-container {
    justify-content: center;
    /* Center the header on smaller devices */
  }
}

@media (max-width: 576px) {
  #game-viewport {
    width: 100%;
    height: 80%;
  }

  #paddle {
    width: 20%;
  }

  .brick {
    width: 15%;
    height: 7%;
  }

  .button-container {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-collapse {
    top: 40px;
    /* Adjust this value to position the menu below the header */

  }

  .header-container {
    justify-content: center;
    /* Center the header on smaller devices */
  }
}

/* Landscape orientation for smaller devices */
@media (max-width: 768px) and (orientation: landscape) {
  #game-viewport {
    width: 100%;
    height: 90%;
  }

  body,
  html {
    overflow: hidden;
    height: 100%;
  }

  #game-container {
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Prevent scrolling within the game container */
  }

  #paddle {
    width: 12%;
  }

  .brick {
    width: 10%;
    height: 5%;
  }

  .button-container {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-collapse {
    top: 40px;
    /* Adjust this value to position the menu below the header */
    display: none;
    /* Hide the menu by default */
  }

  .header-container {
    justify-content: center;
    /* Center the header on smaller devices */
  }
}

@media (max-width: 882px) and (orientation: landscape) {
  #game-viewport {
    width: 100%;
    height: 90%;
  }

  #paddle {
    width: 15%;
  }

  .brick {
    width: 12%;
    height: 4%;
  }

  .button-container {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-collapse {
    top: 40px;
    /* Adjust this value to position the menu below the header */
    display: none;
    /* Hide the menu by default */
  }

  .header-container {
    justify-content: center;
    /* Center the header on smaller devices */
  }
}

.button-container.selected {
  display: flex;
}